.form-control-inline {
    width : auto;
    margin-left : 0.5em;
}

.btn-inline {
    margin-left : 0.5em;
}

.col-flex {
    display : flex;
}

.bg-gradient-info {
    background-color: #404040;
    background-size: cover;
    background-image: none;
}
